/* .menu {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  background-image: linear-gradient(#f39a46 40%, #643aa0);
} */

/* .menu ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.menu li {
  margin-right: 100px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li:first-child {
  margin-left: 50;
}

.menu a {
  padding: 8px 10px;
  color: #000;
  text-decoration: none;
} */

* {
  list-style: none;
  text-decoration: none;
}

header {
  display: flex;
  flex-flow: row wrap;
  background-image: linear-gradient(#f39a46 40%, #643aa0);
  justify-content: space-around;
  align-items: center;
  padding: 0.01% 5%;
}

/* .item2 {
  flex-grow: 1;
}

nav ul {
  display: flex;
} */

/* .menu li {
  margin-right: 100px;
} */

header .logo {
  transition: 0.5s;
}

.flex-item:first-child {
  flex: 0 0 10%; /* Первый элемент flexbox будет занимать 10% ширины контейнера */
}
header .logo:hover {
  transform: scale(1.2);
}

header nav ul li {
  position: relative;
  float: left;
}
header nav ul {
  color: #080a21;
}

header nav ul li a {
  padding: 25px;
  font-size: 20px;
  display: block;
  color: black;
}

header nav ul li img {
  vertical-align: middle;
  margin-right: 4px;
}

input {
  width: 400px;
  border-radius: 40px;
}

.search-box {
  display: flex;
  align-items: center; /* Выравнивание элементов по вертикали */
}

.search-txt {
  margin-right: 5px; /* Отступ справа от поля ввода */
}

.search-txt {
  border: none;
  background: #d2c1ec;
  color: black;
  font-size: 16px;
}
