/* CSS стили для шапки сайта */

.search input[type="text"],
.search button {
  margin-right: 0; /* Убираем отступ между полем поиска и кнопкой */
}

body {
  font-size: 25px;
  font-family: inter;
  font-weight: normal;
  font-style: normal;
  font-family: "Inter", sans-serif;
  background-color: #102d59; /* Цвет фона body */
}

.oval {
  width: 300px;
  height: 64px;
  border-radius: 20px;
  background-color: #f39a46;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #102d59;
  font-size: 37px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.oval1 {
  width: 257px;
  height: 60px;
  border-radius: 20px;
  background-color: #b0c15c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
  font-size: 25px;
  margin-left: 550px;
  margin-top: -80px;
}

.oval2 {
  width: 257px;
  height: 60px;
  border-radius: 20px;
  background-color: #b0c15c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
  font-size: 25px;
  margin-left: 950px;
  margin-top: -60px;
}

img {
  margin-top: 40px; /* Отступ сверху */
  margin-left: 40px;
  margin-bottom: 50px;
  border-radius: 20px;
}
.container {
  position: relative;
  justify-content: space-between;
  display: flex;
  flex-direction: row; /* Располагаем элементы в строку */
  align-items: flex-start;
  background-color: #18396c;
  margin-left: 40px;
  margin-right: 50px;
}

.h1 {
  font-style: italic;
  letter-spacing: 10%;
  font-size: 40px;
  color: white;
  margin-top: 35px;
  margin-left: 30px;
  margin-bottom: -10px;
}

.h2,
.h3 {
  color: white;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
  font-weight: normal;
  text-align: left;
}
.small-image {
  vertical-align: middle;
  margin-left: 800px; /* Отступ слева от обертки картинки */
}
.small-image img {
  border-radius: 0px;
  vertical-align: middle;
  width: 40px; /* Ширина изображения */
  height: auto; /* Автоматическая высота */
  margin-top: -30px;
}

.price {
  font-weight: bold; /* Задаем полужирное начертание */
  font-size: 30px;
  margin-left: 200px;
  color: white;
  margin-top: -80px;
}

.price1 {
  font-weight: bold; /* Задаем полужирное начертание */
  font-size: 30px;
  margin-left: 150px;
  color: white;
  margin-top: 0px;
}

.delete {
  margin-top: 130px;
  margin-left: 1020px;
  font-size: 20px;
  font-weight: bold;
  color: red; /* Цвет текста */
  text-decoration: underline;
  margin-bottom: 30px;
}

.delete1 {
  margin-top: 70px;
  margin-left: 980px;
  font-size: 20px;
  font-weight: bold;
  color: red; /* Цвет текста */
  text-decoration: underline;
}

.total {
  color: white;
  display: flex; /* Располагаем элементы в строку */
  justify-content: 200px; /* Равномерно распределяем пространство между элементами */
  margin-top: 150px; /* Добавляем отступ сверху */
  font-weight: bold; /* Задаем полужирное начертание */
  font-size: 30px; /* Задаем размер шрифта */
}
.total span:first-child {
  margin-left: 550px; /* Отступ справа для первого элемента span в блоке .total */
}

.info {
  margin-top: 30px;
  display: grid; /* Используем grid layout */
  grid-template-columns: auto; /* Один столбец */
  font-size: 23px;
}
.h4 {
  margin-top: 20px;
  margin: 10px;
  color: white;
  margin-right: 10px;
  display: inline; /* Отображаем заголовки в строку */
  text-decoration: underline;
}

.NDS {
  width: 40px;
  display: inline;
  margin-bottom: auto;
  margin-left: 5px;
  color: white;
  font-style: italic;
}

* {
  /* обращение ко всем элементам */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* footer */
footer {
  background: linear-gradient(180deg, #102d59 0%, #05152d 52.5%);

  color: #fff;
  font-size: 22px;
  width: 100%;
  position: absolute;
  bottom: -2100px;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.in_footer {
  max-width: 1440px;
  margin: 0 auto;
  align-items: flex-start;
}

.in_footer a {
  text-decoration: none;
  color: #fff;
  font-weight: 200;
}

.in_footer .left img {
  width: 33px;
  height: 21px;
  margin-top: 10px;
}

.in_footer .main {
  font-weight: 700;
  margin-left: 15px;
  margin-bottom: 50px;
}
.in_footer p {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}

.in_footer .end {
  font-weight: 400;
  font-size: 25px;
}

.in_footer1 {
  max-width: 1440px;
  margin: 0 auto;
  align-items: flex-start;
  text-align: center;
  padding: 50px;
}

footer .bott {
  text-align: center;
}

footer figure {
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
}

footer figure img {
  width: 50px;
  height: 54px;
  vertical-align: top;
}

footer figure figcaption {
  font-weight: 300;
  font-size: 25px;
  display: table;
  text-align: center;
}
footer hr {
  margin: 40px 0px;
}
