.gallery-container {


    /* Отступ от левого края (200px) */
   overflow: hidden;
   clear: both; /* Очистка обтекания */
   position: relative; /* Установка позиции */
   display: flex; /* Располагаем элементы в строку */
   align-items: center; /* Выравнивание по центру по вертикали */
   }
   
   .gallery {
       margin-top: 15px;
       display: flex;
       transition: transform 0.5s ease; /* Анимация для плавного скролла */
       
       width: calc(100% / 5); /* Ширина соответствует 1/5 прокрутки */
       flex-shrink: 0; /* Запрет на уменьшение элемента при недостатке места */
   }
   
   .btn-scroll {
       margin-top: 15px;
       width: 60px; /* Ширина кнопок */
       height: 100px; /* Высота кнопок */
       background-color: #3498db;
       color: white;
       text-align: center;
       line-height: 50px; /* Выравнивание по центру по вертикали */
       
       cursor: pointer;
       transition: background-color 0.3s ease;
   }
   
   .left-btn {
       position: fixed;
       left: 0;
       margin-left: 15px;/* Кнопка "Назад" будет выталкивать "Вперед" вправо */
   }
   
   .right-btn {
       position: fixed;
       right: 0;
       margin-right: 15px;/* Кнопка "Вперед" будет выталкивать "Назад" влево */
   }
   
   
   .screenshot {
       width: 240px;
       height: 100px;
       /* flex: 0 0 calc(100% / 5); /* Каждый скриншот занимает 1/5 ширины прокрутки */
       /* margin-right: 20px; Отступ между скриншотами */ 
   }