@media screen and (max-width: 1000px) {
    .price-image{
        display: none;
    }
    .price-details {
        
        display: flex;
        flex-wrap: wrap; /* Размещаем элементы в линию */
        
        justify-content: center; /* Центрируем содержимое по горизонтали */
        align-items: center; 
        }
   
}

.price-block {
    margin-top: 15px;
    width: 100%; /* Ширина блока от начала до конца */
    min-height: 80px; /* Высота блока 80px */
    height: 80px;
    background-color: #6E99D6; /* Цвет фона блока */
    display: flex;
    flex-wrap: wrap;
    position: relative; 
    }
    .price-image {
        position: absolute;
        right: 260px;
        top: 50%; /* Расположение по вертикали на 50% */
        transform: translateY(-50%);
    }
    .price-rectangle {
    width: 240px;
    height: 60px;
    background-color: #F39A46;
    position: absolute; /* Позиционирование внутри блока .price-block */
    top: 10px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
    border-radius: 36px; /* Радиус углов */
    display: flex;
    justify-content: center; /* Выравнивание содержимого по горизонтали */
    align-items: center; /* Выравнивание содержимого по вертикали */
    border: none; 
    cursor: pointer; /* Задаем стандартный курсор при наведении */
    transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
    }
    
    .price-rectangle:hover {
        background-color: #E0883C; /* Изменение цвета при наведении */
    }
    .price-text {
    font-size: 30px;
    font-weight: 600; /* semi bold */
    font-style: italic;
    color: black; /* Цвет текста */
    margin: 0; /* Убираем внутренние отступы у параграфа */
    }
    .additional-rectangle {
    width: 78px;
    height: 65px;
    background-color: #6E99D6;
    position: absolute;
    left: 10px;
    top: 50%; 
    transform: translateY(-50%);
    border: 5px solid #643AA0; /* Обводка */
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    }
    
    .discount {
        font-size: 35px;
        font-weight: 600; 
        color: #643AA0; /* Цвет текста соответствует цвету обводки */
    }
    .price-details {
        margin-left: 110px;
        display: flex;
        flex-wrap: wrap; /* Размещаем элементы в линию */
        
        justify-content: center; /* Центрируем содержимое по горизонтали */
        align-items: center; 
    
    }
    
    
    
    .price-old {
        
        display: flex;
        
        font-weight: 600;
        margin-top: 20px;
        font-size: 20px;
        color: #793131; /* Цвет текста */
        
    }
    
    .price-new {
        margin: 0;
        display: flex;
        font-size: 35px;
        font-weight: 600;
        color: black; /* Цвет текста */   
    }