body {
    font-family: "Inter", sans-serif;
    background-color: #102D59;
    /* margin: 0 210px; Отступы по 200px с обеих сторон */
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: auto;
    position: relative;
    
}
.main{
    max-width: 1120px; /* Максимальная ширина блока */
    width: 90%; /* Ширина блока от начала до конца при меньших размерах экрана */
    min-width: 600px;
    margin: 0 auto; /* Центрируем блок на странице */
    color: white;
}
.header2 {
    font-family: Arial, sans-serif;
    font-style: italic;
    color: white;
    padding: 20px;
}

.group_tr_game-info {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Для мобильных устройств располагаем элементы в столбец */
}




@media screen and (min-width: 1000px) {
    .group_tr_game-info {
        flex-direction: row; /* Для планшетов и более крупных устройств располагаем элементы в строку */
    }
    .trailer {
        width: auto; /* Возвращаем обычную ширину для трейлеров */
        margin-bottom: 0; /* Убираем отступ снизу */
        margin-right: 20px; /* Возвращаем правый отступ */
    }
    .game-info {
        min-height: 346px;
        width: calc(100% - 200px); /* Ширина занимает все оставшееся пространство после трейлера */
    }
}






@media screen and (max-width: 1000px) {
    .group_rating_about-game {
        flex-direction: column; /* Для планшетов и более крупных устройств располагаем элементы в строку */
    }
    .about-game {
        width: auto; /* Возвращаем обычную ширину для трейлеров */
        margin-bottom: 0; /* Убираем отступ снизу */
        
    }
    .rating-block {
        display: none;
    
    }
}



