/* CSS стили для шапки сайта */
header {
  
    background: linear-gradient(360deg, #643aa0 9%, #f39a46 100%);
    padding: 20px; /* Отступы */
    display: flex; /* Используем флексбокс для расположения элементов в одной строке */
    align-items: center; /* Выравнивание элементов по вертикали */
}
.site-title {
    
    margin-left: 10px; /* Добавляем отступ слева между логотипом и названием сайта */
}
header > *:not(.site-title) {
    
    flex-grow: 1;
}

h1{
    margin-left: 15vh;
    color: white;
}

header > * {
    margin-right: 10px; /* Отступы между элементами */
}

header > *:last-child {
    margin-right: 0; /* Убираем отступ после последнего элемента */
}

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    display: flex; /* Используем флексбокс для расположения элементов категорий в одной строке */
}

nav ul li {
    
    margin-right: 200px; /* Отступы между элементами */
    list-style: none; /* Убираем маркеры списка */
}

.search input[type="text"],
.search button {
    margin-right: 0; /* Убираем отступ между полем поиска и кнопкой */
}


body 
{
   
    min-height: 100%;
    width: 100%;    
    box-sizing: border-box;
    min-height: 100vh;
    line-height: 1.5;
    font-size: 2vh;
    font-weight: normal;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    background-color: #102D59; /* Цвет фона body */
}



html {

    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    
}
