@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/* footer */
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background: linear-gradient(180deg, #102d59 0%, #05152d 52.5%);
    padding-bottom: 30px;
    color: #fff;
    font-size: 22px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.in_footer {
    max-width: 1440px;
    margin: 0 auto;
    align-items: flex-start;
}

.in_footer a {
    text-decoration: none;
    color: #fff;
    font-weight: 200;
}

.in_footer .left img {
    width: 33px;
    height: 21px;
    margin-top: 10px;
}

.in_footer .main {
    font-weight: 700;
    margin-left: 15px;
    margin-bottom: 50px;
}
.in_footer p {
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.in_footer .end {
    font-weight: 400;
    font-size: 25px;
}

.in_footer1 {
    max-width: 1440px;
    margin: 0 auto;
    align-items: flex-start;
}

footer .bott {
    text-align: center;
}

footer figure {
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
}

footer figure img {
    width: 50px;
    height: 54px;
    vertical-align: top;
}

footer figure figcaption {
    font-weight: 300;
    font-size: 25px;
    display: table;
    text-align: center;
}
footer hr {
    margin: 40px 0px;
}




