main {
    background: #102d59;
    width: 100%;
    padding-top: 35px;
    color: #fff;
    padding-bottom: 50px;
}

.in_container {
    max-width: 1440px;
    margin: 0 auto;
}

.block1, .block2, .block3 {
    background: #18396c;
    margin: 60px 35px;
}

.forms {
    padding: 30px 40px;
}

.form1, .form2, .form3 {
    width: 274px;
    height: 40px;
    border: none;
    max-width: 100%;
    height: auto;
}

.block1 form {
    margin: 40px 0px;
}

@media screen and (max-width: 768px) {
    .block2 .d-f {
      display: none;
    }

    .block2 img {
        margin-right: 100px;
        margin-left: 20px;
    }
  }

  @media screen and (max-width: 998px) {
    .block1 .forms  {
        display:block;
        margin: 0 auto;
    } 

    .block1 .form1, .form2, .form3  {
        margin: auto;
    } 
  }
  
.block1 div input {
    border: 1px solid #2092c5;
    border-radius: 5px;
    width: 274px;
    height: 40px;
    letter-spacing: 0.15em;
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.55);
    font-style: italic;
    padding: 8px;
}

.block1 .change button {
    width: 141px;
    height: 30px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #000;
    border-radius: 10px;
    background: #b0c15c;
    cursor: pointer;
    align-items: center;
    padding-left: 10px;
}

.block1 .change {
    display: inline;
    display: flex;
    
    flex-direction: row;
}

.block2 .left img {
    height: 198px;
    width: 151px;
    margin-top: 35px;
    border-radius: 20px;
    margin-bottom: 35px;
}

.block2 {
    padding-bottom: 35px;
}

.in_container .block1 p, .block2 p, .block3 p  {
    margin-left: 40px;
    margin-bottom: 20px;
    padding-top: 20px;
    font-weight: 500;
    font-size: 25px;
}

.block3 .links {
    padding: 15px 60px;
    font-size: 25px;
}

.block3 .links p {
    font-size: 20px;
}

main .zagolov {
    border-radius: 20px;
    width: 329px;
    height: 64px;
    background-color: #f39a46; 
    color: #080a21;
    font-weight: 500;
    font-size: 37px;
    text-align: center;
    padding: 5px;
    margin: 35px 35px 0px 35px;
}

.block2 .add {
    font-weight: 400;
    font-size: 20px;
    margin: 0 auto;
    display: block;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.d-f {
    position: relative; 
    justify-content: space-between; 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    vertical-align: middle;
    
}

.d-f p {
    margin-right: 40px;
    font-weight: 400;
    font-size: 20px;
}

.shops {
    padding-left: 60px;
    padding-right: 0px;
}

#izm {
    margin-right: 15px;
}

.of {
    text-decoration: underline;
    padding-left: 40px;
    
}





