main {
    background: #102d59;
    width: 100%;
    padding-top: 35px;
    color: #fff;
    padding-bottom: 50px;
}

.in_container {
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .block2 .d-f {
      display: none;
    }

    .block2 img {
        margin-right: 100px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 998px) {
    .block1 .forms  {
        display:block;
        margin: 0 auto;
    } 

    .block1 .form1, .form2, .form3  {
        margin: auto;
    } 
}

main .zagolov {
    border-radius: 20px;
    width: 329px;
    height: 64px;
    background-color: #f39a46; 
    color: #080a21;
    font-weight: 500;
    font-size: 37px;
    text-align: center;
    padding: 5px;
    margin: 35px 35px 0px 35px;
}