.group_rating_about-game{
    display: flex; /* Устанавливаем flex-контейнер */
    flex-direction: row; /* Выравнивание элементов по верхнему краю */
}

.rating-block {
    flex-direction: column;
    width: 100%;
    
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
}
.rating-block-age {
    background-color: #021B40;
    display: flex;
    height: 150px;
    min-width: 280px;
    align-items: center;
}

.rating-block-age-square {
    
    width: 100px; /* Размер квадрата */
    height: 100px;
    background-color: #EB600A; /* Цвет */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; /* Отступ между квадратом и текстом */
    margin-left: 10px; 
    border-radius: 10px; 
    font-size: 3em;
}
.rating-block-age-square-text{
    font-size: 0.8em;
}

/* Стили для текста */
.rating-block-age-text {
    font-size: 0.8em; /* Размер шрифта */
    margin-right: 10px;
    
}

.rating-block-gamestar {
    margin-top: 10px;
    background-color: #021B40;
    display: flex;
    height: 100px;
    min-width: 280px;
    align-items: center;
    
}
.rating-block-gamestar-square {
    
    width: 60px; /* Размер квадрата */
    height: 60px;
    background-color: #00b77d; /* Цвет */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; /* Отступ между квадратом и текстом */
    margin-left: 10px; 
    border-radius: 10px; 
    font-size: 2.5em;
}
.rating-block-gamestar-square-text{
  
    font-weight: 500;
}

/* Стили для текста */
.rating-block-gamestar-text {
    
    font-size: 3em;/* Размер шрифта */
    
}

.rating-block-metacritic {
    margin-top: 10px;
    background-color: #021B40;
    display: flex;
    height: 100px;
    min-width: 280px;
    align-items: center;
    
}
.rating-block-metacritic-square {
    
    width: 60px; /* Размер квадрата */
    height: 60px;
    background-color: #c4d200; /* Цвет */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; /* Отступ между квадратом и текстом */
    margin-left: 10px; 
    border-radius: 10px; 
    font-size: 2.5em;
}
.rating-block-metacritic-square-text{
  
    font-weight: 500;
}

/* Стили для текста */
.rating-block-metacritic-text {
    
    font-size: 3em;/* Размер шрифта */
    
}

.rating-block-opencritic {
    margin-top: 10px;
    background-color: #021B40;
    display: flex;
    height: 100px;
    min-width: 280px;
    align-items: center;
    
}
.rating-block-opencritic-square {
    
    width: 60px; /* Размер квадрата */
    height: 60px;
    background-color: #b52002; /* Цвет */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; /* Отступ между квадратом и текстом */
    margin-left: 10px; 
    border-radius: 10px; 
    font-size: 2.5em;
}
.rating-block-opencritic-square-text{
  
    font-weight: 500;
}

/* Стили для текста */
.rating-block-opencritic-text {
    
    font-size: 3em;/* Размер шрифта */
    
}