.comments-section {
    background-color: #102D59;
    color: white;
    
    margin-bottom: 20px;

    margin-top: 30px;
    width: 100% - padding; /* Ширина блока от начала до конца */
    min-height: 480px; /* Высота блока 80px */
    
    position: relative; 
}

/* Стили для заголовка "Комментарии" */
.comments-title {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}
.comment-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Выравниваем по горизонтали */
    align-items: center; /* Выравниваем по вертикали */

}
/* Стили для ячейки комментария */

/* Стили для кнопки "Показать больше" */
.show-more-button {
    width: 100%;
    height: 64;
    background-color: #18396C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
}
.show-more-button:active {
    background-color: #2E5A99; /* Новый цвет фона при нажатии */
}

